//===============================================================================
// HEADER
//===============================================================================
.pc-header {
  position: fixed;
  top: 25px;
  left: 25px;
}

.pc-logo {
  background: white url('../img/pc-logo.svg') no-repeat;
  background-size: (303px / 1.5) (54px / 1.5);
  width: (303px / 1.5);
  height: (54px / 1.5);
  text-indent: -9999px;
}
