//===============================================================================
// THEME
//===============================================================================
@font-face { 
}

//===============================================================================
// GLOBAL STYLES
//===============================================================================
body {
}

.reveal {

}

.reveal .slides {
  text-align: left;
}

::selection {
  background: lighten($howl-brand, 52);
  color: inherit;
}

//===============================================================================
// HEADERS
//===============================================================================
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 { 
  color: $header;
  font-family: $header-font;
  font-weight: 700;
}

.reveal h1 { 
}

.reveal h2 { 
  margin-bottom: 12px;
}

//===============================================================================
// LINKS
//===============================================================================
.reveal a:not(.image) {
}

.reveal a:not(.image):hover {

}

.reveal .roll span:after {

}

//===============================================================================
// IMAGES
//===============================================================================
.reveal section img {

}

.reveal a:hover img {

}

//===============================================================================
// NAVIGATION CONTROLS
//===============================================================================
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: $howl-brand;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: $howl-brand;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: $howl-brand;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: $howl-brand;
}

.reveal .controls div.navigate-left.enabled:hover {

}

.reveal .controls div.navigate-right.enabled:hover {

}

.reveal .controls div.navigate-up.enabled:hover {

}

.reveal .controls div.navigate-down.enabled:hover {

}

//===============================================================================
// PROGRESS BAR
//===============================================================================
.reveal .progress {

}

.reveal .progress span {

}

//===============================================================================
// PROGRESS BAR
//===============================================================================
.video-slide {
  text-align: center;

  p{
    margin-top: 12px;
  }
}
