//===============================================================================
// THEME
//===============================================================================
@font-face { 
}

.code-logo{
  text-indent: -9999px;
  background-image: url('../img/pc-logo.svg');
  background-repeat: no-repeat;
  color: transparent;
  background-size: cover;
  font-size: .8em !important;
  top: -.15em;
  position: relative;
}

//===============================================================================
// GLOBAL STYLES
//===============================================================================
body {
}

.reveal {

  li{
    margin-bottom: 12px;
  }

}

.reveal .slides {
  text-align: left;
}

::selection {
  background: lighten($howl-brand, 52);
  color: inherit;
}

//===============================================================================
// HEADERS
//===============================================================================
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 { 
  color: $header;
  font-family: $header-font;
  font-weight: 700;
}

.reveal h1 { 
}

.reveal h2 { 
  margin-bottom: 12px;
}

//===============================================================================
// LINKS
//===============================================================================
.reveal a:not(.image) {
}

.reveal a:not(.image):hover {

}

.reveal .roll span:after {

}

//===============================================================================
// IMAGES
//===============================================================================
.reveal section img {

}

.reveal a:hover img {

}

//===============================================================================
// NAVIGATION CONTROLS
//===============================================================================
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: $howl-brand;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: $howl-brand;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: $howl-brand;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: $howl-brand;
}

.reveal .controls div.navigate-left.enabled:hover {

}

.reveal .controls div.navigate-right.enabled:hover {

}

.reveal .controls div.navigate-up.enabled:hover {

}

.reveal .controls div.navigate-down.enabled:hover {

}

//===============================================================================
// PROGRESS BAR
//===============================================================================
.reveal .progress {

}

.reveal .progress span {

}

//===============================================================================
// VIDEO SLIDE
//===============================================================================
.video-slide {
  text-align: center;

  p{
    margin-top: 12px;
  }
}

//===============================================================================
// ILLI SLIDE
//===============================================================================
.illi-slide {
  padding: 0 6% !important;

  img,
  svg {
    max-height: 70%;
    margin-top: 4.5%;
  }
}

.phone-green {
  max-width: 28% !important;
  float: left;
}

.speaker {
  $size: 140px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: (- $size / 2 + 15) 0 0 (- $size / 2) !important;
  height: $size;
  width: $size;

  g:nth-child(2){
    -webkit-animation: audio .6s 0 infinite alternate;
  }

  g:nth-child(3){
    -webkit-animation: audio .6s 1s infinite alternate;
  }

  g:nth-child(4){
    -webkit-animation: audio .6s 2s infinite alternate;
  }

  g:nth-child(5){
    -webkit-animation: audio .6s 3s infinite alternate;
  }
}

.phone-orange {
  float: right;

  #game-icon{
    opacity: 0;
  }
}

.reveal .slides section .fragment {
  -webkit-transition: all .75s ease;
     -moz-transition: all .75s ease;
      -ms-transition: all .75s ease;
       -o-transition: all .75s ease;
          transition: all .75s ease;
}



@-webkit-keyframes audio {
  0%   { opacity: 1; }
  100% { opacity: .35; }
}