//===============================================================================
// VARIABLES
//===============================================================================
$paper: hsl(0, 0, 100);
$ink: #4D4D4D;
$howl-brand: #00C9C9;

$link: $howl-brand;
$header: $howl-brand;

$pc-pink: #EE5080;

$body-font: "ff-tisa-web-pro", serif;
$header-font: "proxima-nova", sans-serif;